* {
    font-family: Verdana;
    background-color: black;
    text-align: center;
}

/* Header Start */
.topHeader {
    text-align: center;
}

.headerText {
    font-weight: normal;
    font-size: 50px;
    color: white;
}
/* Header End */

/* Middle Section (first download link & phone video) Start */
.downloadLink {
    color: aquamarine;
    font-size: 16px;
}
/* Middle Section (first download link & phone video) End */
