* {
    font-family: Verdana;
    background-color: black;
    text-align: center;
}

/* Header Start */
.topHeader {
    text-align: center;
}

.headerText {
    font-weight: normal;
    font-size: 50px;
    color: white;
}
/* Header End */

/* Middle Section (first download link & phone video) Start */
.downloadLink {
    color: aquamarine;
    font-size: 16px;
}
/* Middle Section (first download link & phone video) End */

/* Main Content Start */
.mainContent {

}

.mainTitle {
    font-weight: 300;
    font-size: 42px;
    color: white;
}

.mainPara {
    font-size: 21px;
    color: grey;
}
/* Main Content End */
