* {
    font-family: Verdana;
    background-color: black;
    text-align: center;
}

/* Header Start */
.topHeader {
    text-align: center;
}

.headerText {
    font-weight: normal;
    font-size: 50px;
    color: white;
}
/* Header End */
